$purple : #391D42;
$beige : #E8EDE6;

h1 {
  font-family: 'Big Caslon', 'Book Antiqua', 'Palatino Linotype', Georgia, serif;
  text-align: center;
}

.selected {
  color: #22bdf0;
}

.unhealthy {
  font-weight: bolder;
  color: red;
}

.healthy {
  color: green;
}

.jumbotron {
  background: $purple;
  color: white;
}

.btn {
  background: $purple;
  color: white;
}

body {
  background: $beige;
}
